module [[.ModulePath]]

go [[.GoVersion]]

require (
	[[.ZhiModule]] [[.ZhiVersion]]
	github.com/hashicorp/go-hclog v1.6.3
	github.com/hashicorp/go-plugin v1.7.0
)

// TODO: Replace with a published zhi version or point to a local checkout:
// replace [[.ZhiModule]] => ../zhi
