# Default configuration values for the [[.PluginName]] plugin.

[[.PluginName]]:
  host:
    val: "localhost"
    metadata:
      description: "Service hostname"
  port:
    val: 8080
    metadata:
      description: "Service port number"
