# Sample export template
# This template demonstrates component-aware rendering.
#
# Usage: reference configuration values using Go template syntax.
# Components can be checked with: {{ `{{ if .ComponentEnabled "monitoring" }}` }}
#
# Example:
# app_name={{ `{{ .Get "app/name" }}` }}
# db_host={{ `{{ .Get "database/host" }}` }}
# {{ `{{ if .ComponentEnabled "monitoring" }}` }}
# monitoring_enabled=true
# {{ `{{ end }}` }}
